<template>
  <div class="flex items-center justify-center min-h-screen">
  <Card>
    <template #title>
      <h2>About Us</h2>
    </template>
    Information about us. Adjust the theme using the navbar color picker!
  </Card>
</div>
</template>

<script setup>
import Card from '../components/Card.vue';
</script>
