<script setup>
import { useDark, useToggle } from "@vueuse/core";

const isDark = useDark();
const toggleDark = useToggle(isDark);
</script>

<template>
  <main class="pt-8 flex items-start justify-center bg-slate-700 dark:bg-white min-h-screen">
    <div class="max-w-[600px] shadow-md p-6 rounded-md bg-white dark:bg-slate-700">
      <div class="flex items-center justify-between mb-4">
        <h1 class="text-4xl dark:text-white">
          Unilog {{ isDark ? 'Dark' : 'Light'}} Mode
        </h1>
          <img @click="toggleDark()" v-if="isDark" class="moon cursor-pointer ml-2 w-6 h-6 text-black" src="../assets/moon-light.svg" alt="">
          <img @click="toggleDark()" v-else class="sun cursor-pointer ml-2 w-6 h-6 text-yellow" src="../assets/sun-light.svg" alt="">
      </div>
      <p class="text-md mb-4 dark:text-white">
      This is a small POC on switching between light and dark modes using Vue 3, VueUse and Tailwind CSS
        
      </p>
    </div>
  </main>
</template>

