<template>
    <div class="flex items-center justify-center min-h-screen">
      <Card>
        <template #title>
          <h2>Welcome to Home</h2>
        </template>
        This is the home page. Adjust the theme using the navbar color picker!
      </Card>
    </div>
  </template>
  
  <script setup>
  import Card from '../components/Card.vue';
  </script>
  