<template>
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex flex-col items-center space-y-4">
      <slot name="title">
        <div class="font-bold text-xl">Default Title</div>
      </slot>
      <slot>
        Default Content
      </slot>
    </div>
  </template>
  
  <script>
  export default {
    name: "Card"
  };
  </script>
  