<template>
    <nav class="p-4 bg-gray-100 border-b shadow-sm flex justify-between items-center">
      <!-- Menu Items -->
      <div>
        <router-link
          v-for="item in menuItems"
          :key="item.name"
          :to="item.path"
          class="mr-4 px-3 py-2 rounded-full text-theme-color hover:bg-gray-200 transition"
          active-class="bg-theme-color text-white"
        >
          {{ item.name }}
        </router-link>
      </div>
  
      <!-- Theme Color Picker -->
      <label class="flex items-center">
        <span class="mr-2">Theme:</span>
        <input type="color" :value="themeStore.color" @input="updateColor($event)">
      </label>
    </nav>
  </template>
  
  <script setup>
  import { useThemeStore } from '../stores/themeStore';
  
  const themeStore = useThemeStore();
  
  const menuItems = [
    { name: 'Home', path: '/' },
    { name: 'About', path: '/about' },
    { name: 'Contact', path: '/contact-us' }
  ];
  
  const updateColor = (event) => {
    themeStore.setThemeColor(event.target.value);
  };
  </script>
  
  <style scoped>
  router-link {
    text-decoration: none;
  }
  router-link:hover {
    text-decoration: underline;
  }
  </style>
  