<template>
  <div :style="{ '--theme-color': themeStore.color }" class="bg-theme-color min-h-screen">
    <Navbar />
    <RouterView />
  </div>
</template>

<script setup>
import Navbar from './components/Navbar.vue';
import { useThemeStore } from './stores/themeStore';
const themeStore = useThemeStore();
</script>
